/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}




/* Header Styles */
header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f4f4f4;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    color: #fff;
    margin-left: 15px;
    font-size: 20px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #f4f4f4;
}



/* About Me Section */
#about {
    background-color: #f9f9f9;
    padding: 50px 20px;
    color: #333;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text {
    flex: 1;
    margin-right: 20px;
}

.about-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}


/* Hero Section Styles */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-image: url('/programming-8450423_1920.png');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.text-content {
    max-width: 50%;
}

.text-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #cc5200;
}

.image-content img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

/* Content Section Styles */
.content-section {
    padding: 50px 20px;
    background-color: #fff;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
}

.content-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.content-section p, .content-section ul {
    font-size: 1rem;
    line-height: 1.6;
}

.content-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.content-section ul li {
    margin-bottom: 10px;
}

/* Projects Table */
/* Projects Table */
#projects-container {
    overflow-x: auto;
}

#projects-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#projects-container table th, #projects-container table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

#projects-container table th {
    background-color: #f4f4f4;
    color: #333;
}


/* Footer Styles */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
}

.social-links-footer {
    margin-top: 10px;
}

.social-links-footer a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.social-links-footer a:hover {
    color: #f4f4f4;
}
